In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('insurance.csv')

In [3]:
data

     age  sex     bmi  children  smoker  region      charges
0     19    0  27.900         0       1       3  16884.92400
1     18    1  33.770         1       0       2   1725.55230
2     28    1  33.000         3       0       2   4449.46200
3     33    1  22.705         0       0       1  21984.47061
4     32    1  28.880         0       0       1   3866.85520
..   ...  ...     ...       ...     ...     ...          ...
343   63    1  36.765         0       0       0  13981.85035
344   49    0  41.470         4       0       2  10977.20630
345   34    0  29.260         3       0       2   6184.29940
346   33    1  35.750         2       0       2   4889.99950
347   46    1  33.345         1       0       0   8334.45755

[348 rows x 7 columns]

In [14]:
x=np.asarray(data[['age','sex','bmi','children','smoker','region']])
y=np.asarray(data['charges'])

In [15]:
from sklearn.model_selection import train_test_split
trainx,testx,trainy,testy=train_test_split(x,y,test_size=0.2)

In [16]:
trainx.shape

(278, 6)

In [17]:
trainy.shape

(278,)

In [18]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(trainx,trainy)

LinearRegression()

In [19]:
testx.shape

(70, 6)

In [20]:
predy=model.predict(testx)

In [21]:
predy

array([ 4.01596731e+04,  1.15875213e+04,  6.68934708e+03,  3.07778769e+04,
        9.46729376e+02,  2.44348881e+04,  1.00958700e+04,  7.85209785e+03,
        3.81402779e+03,  6.11170458e+03,  4.43236217e+03,  1.41267426e+04,
        3.19419487e+04,  4.79440050e+03,  3.45497185e+04,  1.13493691e+04,
        5.50625119e+02,  1.90053905e+03,  1.29601857e+04,  1.37939042e+04,
        5.52252664e+03,  3.13299364e+04,  3.61449403e+04,  7.08983771e+03,
        1.48872034e+03,  3.39351815e+04,  1.16349725e+04,  1.95500012e+03,
        1.44360220e+04,  1.02596046e+04,  3.93727657e+04,  5.02117147e+03,
        3.36977055e+03,  3.90580984e+04,  2.85899707e+04,  3.04427009e+04,
        2.72968872e+04,  3.91607458e+03,  7.29421001e+03,  9.25548794e+03,
        3.05593621e+04,  8.06700274e+03,  7.95363497e+03,  1.09499602e+04,
        4.08937954e+03,  3.08504275e+04, -9.68979226e+02,  3.32041762e+04,
        3.53197175e+04,  6.43326797e+03,  8.57854389e+03,  1.10385754e+04,
        4.71972036e+03, -2.31361106e+00,  1.29808151e+03,  3.02011514e+04,
        8.44264597e+03,  3.67744862e+04,  3.15651464e+04,  6.18762651e+03,
        1.55788950e+04,  8.89916314e+03,  8.81392144e+03,  1.39140707e+04,
        2.04001923e+03,  3.62743760e+04,  2.57280842e+04, -2.11825454e+03,
        1.27351180e+04,  1.56425764e+04])

In [22]:
from sklearn.metrics import r2_score
r2_score(testy,predy)

0.7200733562313818